# Won't work due to resource limits not working in compose
version: "3.3"
services:
  gitserver:
    image: jkarlos/git-server-docker
    # TODO less hacky volume mounting
    volumes: 
      - "${CONFIG_DIR}/git-server/keys:/git-server/keys"
      - "${CONFIG_DIR}/git-server/repos:/git-server/repos"
    container_name: gitserver
    labels:
      - role=gitserver
    hostname: gitserver
    # Below is a legal bridge network but will fail with Compose 1.14.0
#    networks:
#      - 'scalability_bridge'
    ports: 
      - "2222:22"
  agents:
    image: vfarcic/jenkins-swarm-agent
    container_name: agent
    labels: 
      - role=agent
    environment:
      COMMAND_OPTIONS: '-executors 4 -master http://jenkins:8080 -description swarm-slave -deleteExistingClients'
#    networks:
#      - scalability-bridge
  graphite:
    image: hopsoft/graphite-statsd
    container_name: graphite
    labels:
      - role=graphite
#    networks:
#      - scalability-bridge
    ports:
      - "81:80"
      - "2003:2003"
      - "8125:8125/udp"

#  jenkins:
#    container_name: jenkins
  #  build: ./jenkins
#    hostname: jenkins
#    volumes: 
 #     - "${CONFIG_DIR}"/jenkins_home:/var/jenkins_home
    # TBD deploy:placement for docker swarm to run it on separate host
#    depends_on:
#      - gitserver
#    links: 
#      - gitserver
    # Deploy needs resource limits
#    ports:
#      - "8080:8080"