# Compiled class file
*.class

# Jenkins/build stuff
target
work
node
node_modules

# Misc crap from the OS
.DS_Store
*_rsa
*.pub

# Log & etc from java
*.log
hs_err_pid*

# IDE things
*.ctxt
.idea/
*.iml
*.iws
*.ipr
.idea
out
.project
.settings
.classpath

# Package Files
*.jar
*.war
*.ear
*.rar
